<!doctype html>
<html lang="en">
<body >
  <div class="container">
    <div class="result">
      <span class="res">{{result}}</span>
      <footer><span class="exp">{{exp}}</span></footer>
    </div>
    <div class="buttons">
      <button class="item outer"(click)="pressOperator('٪')">٪</button>
      <button class="item outer"(click)="allclear()">CE</button>
      <button class="item outer"(click)="allclear()">C</button>
      <button class="item outer"(click)="backSpace()">⌫</button>
      <button class="item outer"(click)="pressOperator('x^-1')">1/x</button>
      <button class="item outer"(click)="pressOperator('X²')">X²</button>
      <button class="item outer"(click)="pressOperator('√x')">√x</button>
      <button class="item outer"(click)="pressOperator('÷')">÷</button>
      <button class="item"(click)="pressNum('7')">7</button>
      <button class="item"(click)="pressNum('8')">8</button>
      <button class="item"(click)="pressNum('9')">9</button>
      <button class="item outer"(click)="pressOperator('x')">X</button>
      <button class="item"(click)="pressNum('4')">4</button>
      <button class="item"(click)="pressNum('5')">5</button>
      <button class="item"(click)="pressNum('6')">6</button>
      <button class="item outer"(click)="pressOperator('-')">-</button>
      <button class="item"(click)="pressNum('1')">1</button>
      <button class="item"(click)="pressNum('2')">2</button>
      <button class="item"(click)="pressNum('3')">3</button> 
      <button class="item outer"(click)="pressOperator('+')">+</button>
      <button class="item"(click)="pressOperator('±')">+/-</button>
      <button class="item"(click)="pressNum('0')">0</button>
      <button class="item"(click)="pressNum('.')">.</button>
      <button class="item equal"(click)="pressEqual()">=</button>
    </div>
  </div>
</body>
</html>
